[2018-07-05 21:54] all9lives opened #1 "Linking products and SKUs"
I'm building some e-commerce functionality, pulling product data from stripe. Is there a way to link products and skus together? Since we need to pull information like description etc from the product API and things like price etc from the SKU api.

Ideally we could make a query like this.
[code]

Is something like this possible, or would I need to chain several queries to get the product which be

[2018-07-06 21:41] njosefbeck commented on #1
Hello!

Currently this isn't possible, but I'm looking into setting it up so that all Stripe objects would be auto-expanded: https://stripe.com/docs/api#expanding_objects. This would then allow you to get the full product information under a sku. I'll update this issue once I've finished updating my code.

[2018-07-07 02:37] njosefbeck commented on #1
@all9lives - So I think I've successfully got this working. I've tested it and it works locally. Feel free to `npm install gatsby-source-stripe` the latest version and let me know if you run into any issues: https://www.npmjs.com/package/gatsby-source-stripe

[2018-07-07 02:37] #1 closed

[2018-07-07 18:51] all9lives commented on #1
@njosefbeck Thanks for adding that in, it works great.

[2018-07-24 16:32] JodyPSmith opened #2 "Avoid stripe secret key in gatsby-config?"
Is there a way to avoid putting the stripe secret key in the gatsby-config and accessing it from an environment variable instead? I'm a little weary of including sensitive keys in the repo.

[2018-07-24 17:03] njosefbeck commented on #2
Thanks for the question! I too would be leery of that. Thankfully you can use .env files to handle adding this kind of information to your gatsby-config.js file. More information can be found here: https://www.gatsbyjs.org/docs/environment-variables/

Let me know if you need any help with implementing a .env file! Closing for now.

[2018-07-24 17:03] #2 closed

[2018-07-25 04:16] JodyPSmith commented on #2
Thanks for the link, I followed the guide and its working. Thanks for the link (and the source-stripe plugin too).

[2018-10-08 17:10] raae opened #3 "Pagination never ends"
The pagination never ends as the args never change.

[2018-10-09 15:44] njosefbeck commented on #3
@raae Thank you for this fix! Will merge this into the project.

[2018-10-09 15:45] #3 closed

[2018-10-09 16:07] njosefbeck commented on #3
@raae If you have a moment to test the fix on a project, I've published the latest version with your change included up to npm. Would be much appreciated! Thanks!

[2018-10-10 07:40] raae commented on #3
Tested it on the same project that was not working with the last version, and it is now working.

[2018-11-18 17:13] njosefbeck opened #5 "Expand all the objects and sub-objects, oh my!"
The Stripe API allows for the [auto-expansion](https://stripe.com/docs/api/expanding_objects?lang=node) of objects returned. To handle auto-expansion, I've added a `methodArgs` key to each Stripe Object in `stripeObjects.json`. Inside that `methodArgs` key, an `expand` array is defined (example [here](https://github.com/njosefbeck/gatsby-source-stripe/blob/32b17c1f82af65cbf1738c5d741a6e0d8750e934/

[2018-11-18 17:21] njosefbeck opened #6 "Update README.md with more querying examples"
Right now the [How to query](https://github.com/njosefbeck/gatsby-source-stripe#how-to-query) section is looking kind of sad. Sure, it covers the basics, but it would be nice if there were more examples. Especially, more complex examples.

Mainly I'm interested in showing examples of how to:
- Sort
- Filter
- Limit

Additionally, creating examples that show how to put together queries both in Grap

[2018-11-18 17:28] njosefbeck opened #7 "More robust testing"
To test this plugin, I typically use the test data provided by Stripe. I would **love** to test the plugin across more complex, larger Stripe data.

Do you have a Stripe account with a lot of data in it?
Are you a Stripe Connect user?
Are you a part of any closed betas (thinking: issuing)?

If so, it would be great if you would test this plugin using that data.

[2018-11-19 17:11] brxck opened #8 "Support Image Downloading"
It would be really great if the source plugin supported the downloading of product and sku images. This would make it possible to use things like [gatsby-image](https://www.gatsbyjs.org/packages/gatsby-image/) with the resulting nodes.

@njosefbeck, you mentioned that a separate transformer plugin might be the way to do this, but I think it might be better to keep this within the source plugin. Th

[2018-11-20 03:41] njosefbeck commented on #8
@brxck As it seems like you've done your research, I'm cool with incorporating this feature into the source plugin itself. I'm happy to look at any implementations you come up with for this feature. Starting with skus and products for now makes sense, and then we can expand to other object types over time.

I'm not sure if this will be an issue, but when I try to get the "File" type from Stripe, i

[2018-11-28 00:19] njosefbeck opened #10 "Update Gatsby peer dependency to >= 2.0.15"
Do this so that people know that, since I'm using "createContentDigest" they'll need to be running at least Gatsby 2.0.15 or they'll get an error.

[2018-12-06 20:16] njosefbeck commented on #10
Fixed in f3ab5f987aa050775d21ebc9956de30459563991.

[2018-12-06 20:16] #10 closed

[2018-12-06 20:21] thorsten-stripe commented on #8
You both rock! :)

[2018-12-06 20:43] njosefbeck opened #11 "Investigate why File object types are returning as not iterable by Node Stripe"
For some reason, I get an error when attempting to iterate over the "File" type Stripe API response. The API method I use is a list method, so I'm not sure why I'm getting this error. Just making a note here that I (or someone else) needs to investigate this further.

[2018-12-06 20:46] njosefbeck opened #12 "Fix Event objects for Skus & Products having the same attributes key, but different data types for that key"
I'll need to deal with Event objects for skus and products having the same attributes key, but having different data types (i.e. sku.attributes is an object, and product.attributes is an array). This currently causes Gatsby to strip out the attributes field, which is not desired.

[2018-12-07 16:58] njosefbeck commented on #11
Filed [this issue](https://github.com/stripe/stripe-node/issues/533) with the stripe-node team as it seems to be related to an issue there. Yay for sleuthing!

[2018-12-09 15:50] #11 closed

[2019-01-04 04:14] DavidSabine commented on #7
Hi, I answered 'no' to all three of your question. But I'm really interested in testing this plugin.  My needs are simple:
1) I have 1 product with multiple SKUs (an event that will run on multiple dates)
2) I want to list those items on my site (https://scrum.works/)
3) I want visitors to be able to pay for registration to individual SKUs.

Plugins I except I'll use: gatsby-source-stripe and gats

[2019-01-04 04:16] DavidSabine commented on #5
If we could 'pair' for a while and get a repo running on my machine, I'd be happy to poke through the Stripe API documentation and contribute time/effort to this.

[2019-01-09 01:40] njosefbeck opened #13 "Issues with downloading files feature"
@brxck
Hey! The downloading files integration needs to be looked at a bit, if you have the time. Ran into some issues recently.

(1) For some reason, I can't get "localFiles" to show up anymore for Skus. I'm running the latest version of Gatsby, am getting no console errors, but when I go to query the "localFiles" field in GraphiQL it says the field is unqueryable. I haven't tested other Stripe ob

[2019-01-09 05:47] brxck commented on #13
Hmm. I will definitely give it a look! Keep you updated.

[2019-01-10 22:39] brxck commented on #13
I'm still not entirely sure about your first issue here; I fixed some things, but I don't think they would be preventing sku images from downloading with the gatsby-config you provided. Who knows though, give it a shot with the new commits. :crossed_fingers:

I've at least got sku image downloading working in a test repo right now. If it's still not working we'll probably have to dig a little deep

[2019-01-11 02:49] njosefbeck commented on #13
Thanks for taking a look, and applying those fixes. Seemed to have solved (2), which is great! Still not seeing any localFiles for my sku though, unfortunately.

If you could email me (njosefbeck@gmail.com), maybe we can coordinate a way to debug together, or something. Alternatively, I could send along the Gatsby site code and see if you get localFiles for skus when you run the site locally.

[2019-01-11 20:00] brxck commented on #13
Sure we can do that!
Two things that have bit me before, just in case:
1. Are the images definitely defined on the Stripe Sku node, and not the Product?
2. Are the images hosted in a way that they're accessible to createRemoteFileNode?

[2019-01-12 18:09] njosefbeck commented on #13
So I confirmed that there are image files on the Stripe Sku, and when I go to the image file directly in the browser it downloads it. Would this mean that the images are hosted in a way that makes them accessible to createRemoteFileNode?

If you want to play around with my test Stripe token and see if you get different results, that'd be great! I can email it to you (provided I have your email add

[2019-01-12 19:36] brxck commented on #13
Everything looks like it _should_ be working, so I'm gonna shoot you an email so I can get that token and start digging.

[2019-01-12 21:37] brxck commented on #13
Alright, here's the update:
I can't get your Stripe data to work either.

gatsby-source-filesystem's createRemoteFileNode is not getting along well with the Stripe-hosted image on your Sku. I haven't dug into the cRFN code yet, and it doesn't log or throw errors, so I'm not sure _why_ yet.

I imagine it's because Stripe's file links don't contain the filename or extension in the url, that informat

[2019-01-12 22:34] njosefbeck commented on #13
Ohhh interesting. So for your Stripe sku images, you have them stored somewhere outside of Stripe, and when you created the Sku programmatically, you added an image URL to the field?

Since I created the Sku through the Stripe dashboard, there's no option to just input a URL. You have to choose the file from the file system. So maybe if you're not able to figure out how to get it working with Stri

[2019-01-12 22:59] brxck commented on #13
That's correct! Truthfully I don't know of a way to have Stripe host your image when you are creating a sku, are you using the Checkout beta? Even in the dashboard I only have the option of providing my own url.

Hopefully it doesn't come to making that caveat! I'll look into the necessary changes to gastby-source-filesystem, seems like I should be able to get this working.

[2019-01-12 23:10] njosefbeck commented on #13
Aha! Yes, I am using the Checkout beta! So maybe I'll just add a note to the README that adds that caveat. And maybe once the new Checkout experience is out, we can see if this is still an issue. Thanks for doing all this testing. I'm glad we figured out what the issue was! I'll go ahead and publish to NPM your other file changes and my README update, and will close this issue.

[2019-01-12 23:10] #13 closed

[2019-02-23 17:38] brettdewoody opened #16 "Unknown argument "product" on field "allStripeSku" of type "Query""
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
  * Read through the README fully
  * Ensured you are running Node v.10 or above
  * Made sure you're using at least Gatsby v.2.0.15
  * Checked that your issue isn't already filed

### Description

Using `product` argument on `allStripeSku` results in error `Unknown argument "product" on fie

[2019-02-23 18:48] brettdewoody commented on #16
Is the recommended thing to do here to use a `filter`? Like:

[code]

[2019-02-23 20:36] njosefbeck commented on #16
Hello @brettdewoody!

With my plugin options in `gatsby-node.js` set as `objects: ['Sku']`, I'm able to filter Skus by their product's id. The query I used was identical to the one you used in your most recent message. This works for me. You can also add additional fields under product to get more information back.

[code]

Ultimately, your data will be an array of Skus belonging to a specific pro

[2019-03-07 12:48] brettdewoody opened #17 "Error: Cannot query field "localFiles" on type "StripeProduct"."
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
  * Read through the README fully
  * Ensured you are running Node v.10 or above
  * Made sure you're using at least Gatsby v.2.0.15
  * Checked that your issue isn't already filed

### Question

I'm using the Stripe Checkout Beta, as well as `images[]` field on Products. For Product images,

[2019-03-07 13:25] njosefbeck commented on #17
Hi @brettdewoody! Thanks for making this issue. As far as I know, Product images are supported by our download images feature. @brxck would be able to confirm, and be able to help you further debug.

In the interim, a couple of follow-up questions:
1. Do you have `downloadFiles: true` in the plugin's options in gatsby-config?
2. When you query local files, the query would be something like
[code]

[2019-03-07 14:00] brettdewoody commented on #17
Thanks for the speedy response.

1. Yes, I have `downloadFiles: true` in `gatsby-config`, here is my config:

[code]
2. I also tried the query you suggested with the expanded `localFiles` but it returns the same error

[2019-03-07 14:03] brettdewoody commented on #16
Yes, the `filter` was the way to go and solved the issue.

[2019-03-07 14:03] #16 closed

[2019-03-07 14:22] brettdewoody commented on #17
This could be related, I've noticed when I start `gatsby`, using `npm start` the following error occurs:

[code]
To resolve this I `rm -rf .cache`, then `npm start` succeeds.

[2019-03-07 14:27] brxck commented on #17
I haven't been able to test with Checkout Beta yet, so this throws a red flag for me. I don't know under which circumstances downloading happens to work with Checkout Beta, so I wouldn't rely on it.

That last error is indicative of the file download failing, unfortunately the API we rely on doesn't surface those errors. I'm fairly certain this is a Checkout thing — not yet supported, but I will l

[2019-03-07 14:47] brxck commented on #17
Actually, I'm pretty sure this is the real issue:

The Gatsby build lifecycle doesn't work in your favor here. Node creation happens before anything is hosted on the development server. So we are failing on download because a URL like `http://localhost:8000/products/600.jpg` doesn't resolve to an image yet. This be a problem in production as well.

I don't think there's yet a clear way to co-host

[2019-03-07 14:53] brettdewoody commented on #17
Ok, I see what you're saying. So if the images are moved to an external host it _should_ work.

However, in GraphiQL, how will moving the images to an external source prevent the error of:

[code]

[2019-03-07 14:58] brxck commented on #17
Yep that's right!

That GraphQL error is an artifact of the same problem. No images were downloaded, Gatsby never had anything to put into the localFiles field, so it strips the field from the StripeProduct node type. It shouldn't be an issue if you get image downloading working.

[2019-03-07 15:29] brettdewoody commented on #17
Ah, I see. Thanks for looking into this, much appreciated.

[2019-03-07 15:29] #17 closed

[2019-03-10 14:05] ronnlidd opened #18 "Solution: found 1 vulnerability requiring 1 manual review (.nvmrc)"
### Description

Dependency of gatsby-source-stripe not working

### Steps to Reproduce

1. Deploy app with gatsby-source-stripe as plugin

### Solution

1. Add .nvmrc file with node version specified. Like this:
[.NVMRC FILE EXAMPLE](https://github.com/thorsten-stripe/ecommerce-gatsby-tutorial/blob/master/.nvmrc
)

[2019-03-10 14:42] njosefbeck commented on #18
Hi @ronnlidd ,

Thanks for bringing this to my attention. `gatsby-source-stripe` will run on versions of Node greater than v10. Is Thorsten using .nvmrc because he experienced an error when trying to deploy his site to Netlify?

Also, the following question needs to be answered, before adding a .nvmrc file to this project.

(1) Does Netlify respect .nvmrc files in dependencies installed and found

[2019-03-10 16:52] ronnlidd commented on #18
Hey, yes, in my understanding it has to be in the root of the project but I'm not certain. Thanks for your work!

[2019-03-29 13:24] njosefbeck commented on #18
Sorry for the delay in response. I think that instead of adding a .nvmrc file to this project, it would make more sense to add an [engines key](https://docs.npmjs.com/files/package.json#engines) to our package.json.

Then, in the README, we can also add language recommending that someone should add a `.nvmrc` file to their Gatsby project, specifying a Node version in the v.10 range.

[2019-03-31 06:29] KyleAMathews opened #20 "Fix issues with downloading files"
I was playing a bit with your plugin tonight — thanks for making it! Noticed a couple of things that could be improved with the image downloading.

First, I noticed that sometimes my image processing query failed. Looking at the bootstrap output, I noticed that files didn't finish downloading until _after_ bootstrap was finished. Which means that you're not waiting for the Promise returned by crea

[2019-03-31 14:16] njosefbeck commented on #20
Thanks for the heads up @KyleAMathews !
@brxck is this something you'd have time to look into? :D

[2019-03-31 14:40] brxck commented on #20
Yep I'll take a look!

[2019-04-01 23:46] Francesco-Lanciana commented on #20
Hey I've also been experiencing issues with the image download but for another reason. My images are hosted in a Google Cloud Platform Storage Bucket (which is public), however the request to grab those images includes an Authorization header which causes Google to send back a 401 (Unauthorized).

### More details
 In the gatsby-node file you create an instance of LocalFile with one of the options

[2019-04-02 00:17] brxck commented on #20
@Francesco-Lanciana I understand your problem. The auth is set that way because it is required to download the content of Stripe's File nodes. It's a good idea to allow the user to set (or not set) their own auth, which would be used except in the case of those File nodes.

Feel free to make a PR, or I could add this quickly myself. This might warrant a separate issue, as I just submitted a PR tha

[2019-04-02 00:35] Francesco-Lanciana commented on #20
@brxck Ahh right that does make sense, however shouldn't it then be passed in to createRemoteFileNode as an option because grabbing the content from Stripe and then fetching the images using the URLs returned from Stripe are two seperate things? In that case the PR would just remove the htaccess_user option from LocalFile and provide an option for the user to provide their own auth? Let me know if

[2019-04-02 00:39] Francesco-Lanciana opened #22 "Allow more control around auth headers for image downloads"
I've also been experiencing issues with the image download. My images are hosted in a Google Cloud Platform Storage Bucket (which is public), however the request to grab those images includes an Authorization header which causes Google to send back a 401 (Unauthorized). In order to avoid this it would be helpful to either remove the auth options when fetching the images (after having already fetch

[2019-04-02 00:40] Francesco-Lanciana commented on #20
@brxck Here is the new issue: https://github.com/njosefbeck/gatsby-source-stripe/issues/22

[2019-04-02 11:12] Francesco-Lanciana commented on #20
@brxck Ended up doing the majority of the PR already so no need to do it yourself, I'll definitely submit it tomorrow (Y)

[2019-04-02 11:16] Francesco-Lanciana commented on #22
@brxck @KyleAMathews Any chance you know why the localFiles___NODE property is put onto the different parts of the payload object and not just as a top level property?

This line specifically is very confusing:
```      const sourceObject = splitPath.length >= 1 ? this.getNestedObject(payload, splitPath.slice(0, -1)) : payload; ```

I would have thought you should just assign this once directly to

[2019-04-02 12:16] Francesco-Lanciana commented on #22
Another question! I was thinking that my PR should update the version to 3.0.0 (Major update) as there is a chance some people were relying on the current behaviour of the Authorization header when fetching images. My changes would make opting in to having an auth header explicit as having a default auth header may break things for people (me) but having no default header definitely won't (unless

[2019-04-02 12:37] #20 closed

[2019-04-02 12:46] njosefbeck commented on #22
Hi @Francesco-Lanciana, thanks so much for your contributions to this project! A couple of things to note:

1) I've merged @brxck's changes into master, so please make sure you pull updated master into your fork and refactor from there. Helping increase readability is great! Also, if you wouldn't mind adding comments to that file, so that others who come along can understand what's happening along

[2019-04-02 12:48] njosefbeck commented on #7
Closing this for now.

[2019-04-02 12:48] #7 closed

[2019-04-02 12:50] njosefbeck opened #23 "Write unit tests for project"
Just putting a reminder here that I'd like to integrate unit tests into this project, especially now that more people are contributing to it.

I'm open to suggestions on unit testing frameworks. My first thought is Jest, as I have the most experience with that, but I'm not 100% married to the idea.

[2019-04-03 07:17] Francesco-Lanciana commented on #22
Hey @njosefbeck not a problem, glad to be working on it. As for the comments and README can do. I do have some questions though:

1) Any chance you know why the localFiles___NODE property is put onto the different parts of the payload object and not just as a top level property?

This line specifically is very confusing:
const sourceObject = splitPath.length >= 1 ? this.getNestedObject(payload, sp

[2019-04-03 12:59] njosefbeck commented on #22
Hey @Francesco-Lanciana!

I unfortunately can't answer your first question, as I'm not sure myself. Maybe @brxck has some insights.

As for your second question, the way the project currently works is:
(1) Make all changes inside /src/.
(2) Run `npm run build` to pass the src code through babel and output into the root dir.
(3) Then test the code

We do this for simplicity's sake, so that when som

[2019-04-03 23:33] brxck commented on #22
Hey @Francesco-Lanciana thanks for working on this. Sorry for the opaque code, I appreciate the refactor. Let me see if I can help:

This is because of skus, specifically. A sku has an image field (`sku.image`) and a product field which has an images field (`sku.product.images`). These are separate image sets, which should not be combined and placed on the parent node. The line of code you are ref

[2019-04-04 11:47] Francesco-Lanciana commented on #22
Hey thanks for the responses, I've readjusted the code to have multiple localFiles_NODE fields. I am however a little stuck. I'm testing that fetching images using the URL returned in the payload for file types work. For one of my files it does and for another it doesn't, returning the error ```Failed to process remote content```. I've made sure that error doesn't break the plugin execution howeve

[2019-04-04 12:15] Francesco-Lanciana commented on #22
Two more questions
1) Why is it that we give the ```parentNodeId: file.id``` option to createRemoteFileNode in the downloadFileNode method? I tried removing it and it had no effect on the result (I think).

2) Can I assume that file types will always have a payload with one URL (never multiple)? It seems to be a safe assumption from what I have examined from the payloads (and the fact the url fiel

[2019-04-04 16:40] brxck commented on #22
I think you are downloading from Stripe's File nodes, not Product/Sku, is that right? I don't recall ever seeing that error, but [it looks like many things could cause it](https://github.com/gatsbyjs/gatsby/blob/06829afa2671518f0fc738ff108a62eb2b3b44a7/packages/gatsby-source-filesystem/src/create-remote-file-node.js#L126). It's hard to say without more testing.

Since we don't have a test suite ye

[2019-04-04 23:08] njosefbeck commented on #22
Just chiming in to answer your question here:

For Stripe API calls that return lists, Stripe returns payloads that look like:
[code]

[2019-04-04 23:26] njosefbeck opened #25 "Update CONTRIBUTING.md about how we handle dep versioning & committing"
Now that we're getting more contributors to this project (very exciting!), we need to formalize a couple of things that we do in this project. I plan on adding the following to the CONTRIBUTING.md:

1) If you add any dependencies to the project via package.json, we only use absolute versions and not 'fuzzy' versions. For example, `2.2.6` instead of `^2.2.6`. This helps with consistency across npm

[2019-04-06 02:51] Francesco-Lanciana commented on #22
Thanks for the speedy responses. Has been really really helpful.

@brxck That's partly true, it actually just seems to be any file hosted on Stripe that is the problem, this is also the case for the SKU image (but not it's associated product images as they are hosted elsewhere). I agree though, will definitely need more testing, I'm a bit stumped as to why it's happening.

@njosefbeck Thanks for t

[2019-04-11 02:14] njosefbeck commented on #22
This has now been merged, so I'm going to close this issue. Over the next couple of days I'll work on putting together an updated release for the project.

Thanks for your hard work and contribution! It's much appreciated :)

[2019-04-11 02:14] #22 closed

[2019-04-13 13:29] njosefbeck commented on #25
Updated in v2.2.0

[2019-04-13 13:29] #25 closed

[2019-04-13 13:30] njosefbeck commented on #18
Added engines key in v2.2.0!

[2019-04-13 13:30] #18 closed

[2019-04-13 13:32] njosefbeck opened #26 "Update README.md to remove first-person references & update develop section"
Good-bye first-person references, hello "we"!

Annnd the develop section needs a little more love (explain project structure, the different scripts, etc).

[2019-04-13 13:40] njosefbeck opened #27 "Format download files errors better"
<img width="1134" alt="Screen Shot 2019-04-13 at 7 51 30 AM" src="https://user-images.githubusercontent.com/9508002/56080438-c619d400-5dc6-11e9-8b83-32848edc8560.png">

So I know that the download files feature doesn't work with images uploaded to Stripe, so the errors I got make sense, BUT all the errors were a bit overwhelming. The URL in the "Failed to process remote content" seems to show up t

[2019-04-13 13:58] njosefbeck commented on #27
Also, another thought: if we want to use that X in front of our error messages, maybe we can pull that out into some kind of error function, so all our errors can be formatted in the same way. Just a thought!

[2019-04-13 14:14] Francesco-Lanciana commented on #27
I agree, it is a bit much. Right now we could more or less remove the error messages I placed in since they aren't really telling you anything that gatsby-source-filesystem isn't already logging. I'm really not a fan of that plugin's use of console.warn though, it should give you more control of what is logged. Ideally I would really like the following format:

Id      Type            Num Images

[2019-04-13 17:10] brxck opened #28 "'Unable to find plugin' After 2.20 Update"
I just updated to the newest release, but I'm running into this error on develop/build:

    error Unable to find plugin "gatsby-source-stripe". Perhaps you need to install its package?

I checked and the plugin is indeed in my node_modules. I've also tried deleting node_modules & package-lock.json and then reinstalling.

Same deal on both projects I tested.

@njosefbeck Looks like the publishing

[2019-04-13 17:11] njosefbeck commented on #28
Let me take a look!

[2019-04-13 17:32] njosefbeck commented on #28
This is fixed! Apparently it's required to have an index.js file in the root of the plugin, even if it's empty. I've tested locally, but if you wouldn't mind updating to the new version (2.2.1) of the plugin and re-testing, it'd be much appreciated @brxck! Thanks!

[2019-04-13 18:01] brxck commented on #28
Okay that cleared it up!

Running into another error:

    Error: Cannot find module './StripeObject'

Looks like a capitalization issue, the file's now named `stripeObject.js`. I looked back and I guess the old build process used to capitalize the file?

[2019-04-13 18:06] njosefbeck commented on #28
Hmm, so I didn't run into that error myself. The file used to be capitalized but it isn't anymore. Have you tried deleting your node_modules and package-lock.json and doing a fresh npm install? Once you do that, if you look at gatsby-source-stripe in node_modules, is your file structure the same as below?

<img width="221" alt="Screen Shot 2019-04-13 at 1 05 35 PM" src="https://user-images.githubu

[2019-04-13 18:07] njosefbeck commented on #28
Oh just saw your edit! Was it that way in the latest version you get from NPM? Or in a local version you have in a plugins dir?

[2019-04-13 18:08] brxck commented on #28
Yeah it was that way in the latest, even with a fresh install :thinking:

[2019-04-13 18:09] njosefbeck commented on #28
Oh yeah, that's a bug then! I'll pull down your change and publish that to NPM then! Thanks!

[2019-04-13 18:12] njosefbeck commented on #28
OK pushed up and published 2.2.2. Let me know if you encounter any further errors!

[2019-04-13 23:15] brxck commented on #28
New version is working great, thanks!

[2019-04-13 23:15] #28 closed

[2019-04-23 20:46] brxck commented on #27
Related and possibly helpful: gatsby-cli's output [is being changed](https://github.com/gatsbyjs/gatsby/pull/13089) to solve some of the jumbled error message issues.

[2019-04-23 23:00] Jossdz commented on #27
Does anyone have solved this ? 😢

[2019-04-23 23:02] njosefbeck commented on #27
Not yet! Are you experiencing an issue @Jossdz ?

[2019-04-23 23:05] Jossdz commented on #27
Yes, i'm getting the same issue

[error]('https://i.postimg.cc/pVwSPqfF/Captura-de-pantalla-2019-04-23-a-la-s-18-04-08.png')

[2019-04-23 23:06] Jossdz commented on #27
Yes, i'm having the same issue @njosefbeck
<img width="911" alt="Captura de pantalla 2019-04-23 a la(s) 18 04 08" src="https://user-images.githubusercontent.com/23535629/56621525-6c997c80-65f2-11e9-887a-17ebdcd178fd.png">

[2019-04-23 23:14] njosefbeck commented on #27
@Jossdz
1) Are you hosting these images within Stripe? If so, you unfortunately won't be able to use the downloadFiles feature due to how Stripe formats the URL.

2) This issue is related to the _amount_ of errors that are logged to the console, but it seems like the feature is working as expected in your case.

If by chance you're not hosting the images that you're trying to download on Stripe, l

[2019-04-24 01:26] njosefbeck commented on #23
Below is a list of the functionality that I think we can unit test. I'm not super interested in doing a lot of mocking / integration tests, at least in this first iteration of tests I write. I'll be working on writing out these tests over the next few weeks as I have time.

* The plugin throws an error when no Stripe objects are found in config options
* The plugin throws an error when no Stripe s

[2019-04-26 06:03] Francesco-Lanciana opened #29 "Remove auth header entirely"
### Description

Turns out that files/images hosted on Stripe don't actually require you to authenticate with your Stripe credentials. They are entirely public. This means that there isn't ever a need for you to provide the auth header - it should simply always be removed. I have tested this locally and can now successfully pull down all images.

I'm happy to create a PR that will remove the auth

[2019-04-26 07:27] Francesco-Lanciana commented on #29
I've sent an email to Stripe support to confirm whether or not all images hosted on Stripe are made public. I'll let you know as soon as I get a response.

[2019-04-26 07:53] Francesco-Lanciana opened #31 "Stop trying to download the file object URL"
### Description

Currently we try to use the url property of the Stripe file Object when downloading files is set too true. This never works as it doesn't actually point to any files. @brxck said [previously](https://github.com/njosefbeck/gatsby-source-stripe/pull/24#issuecomment-479698872_) that we don't use the urls contained in the objects that make up payload.links.data because:
1. We want to

[2019-04-26 14:40] brxck commented on #29
Hey I think there's some misunderstanding here. I did not add in authentication for downloading images on Product or Sku nodes, but for downloading the contents of Stripe's File nodes, [which requires authentication](https://stripe.com/docs/api/files) (see the `url` field).

I'm not sure where authentication exists in LocalFile after your refactor, but it is not needed for Products and Skus, only

[2019-04-26 15:59] brxck commented on #31
I'd be interested to hear how Stripe support responds. In my testing, downloading Files using the url field & authentication has functioned properly, though I haven't tested this since the refactor.

...
I'm currently chasing this up with Stripe support but I don't actually think it's possible to make files private.

Files are not publicly accessible unless they have [File Links](https://stripe.co

[2019-04-26 16:56] Francesco-Lanciana commented on #31
Ahhhhh right that makes sense, although I'm still not really sure what use case it fits... I'm also confused on two other points:
1. I never created any file links manually which means Stripe made them for me when I uploaded the image, which is a strange security stance to take...
2. The SKU objects returned for me have a URL that corresponds to one of the links... why would it not use the URL tha

[2019-04-26 19:08] njosefbeck commented on #31
A couple of thoughts...

* First, just to make sure we keep all discussion in one place, please post replies / findings / changes to thinking here in this issue instead of the PR. If you change something in the PR, explain the rationale here and then, maybe, from the PR, link to that specific comment in this issue thread. This will make things easier to follow :).

I can see why letting files not

[2019-04-29 04:37] buzzguy opened #33 "Subscription Plan Query Example"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
  * Read through the README fully
  * Ensured you are running Node v.10 or above
  * Made sure you're using at least Gatsby v.2.0.15
  * Checked that your issue isn't already filed

### Description
Is there a way to query the `plans` for `Subscription` objects?
It looks like I can only query

[2019-04-29 11:30] njosefbeck commented on #33
Hello!
Thanks for reaching out. It looks like we just need to add [Plans](https://stripe.com/docs/api/plans/list) as an object that you can get via list from Stripe. Easy enough. Would be a good opportunity to make sure we're covering all the other Stripe object list methods, as it seems like they've done some updates :).

Once added, you'll be able to query for allStripePlan to get all of them an

[2019-04-29 19:39] buzzguy commented on #33
ah, whoops, I meant `allStripePlan`
Awesome, thank you!

just saw some of your github repos, love the terrace house social site 👌

[2019-04-29 20:51] #23 closed

[2019-04-29 21:13] njosefbeck commented on #33
Hey! So I don't know why I didn't check the README and the code before responding, but it looks like we already have support for getting a list of plans. Did you try getting them without succeeding? If you have a link to a repo or something that I could look at, maybe I can help you debug.

[2019-04-29 21:16] njosefbeck opened #34 "Add support for getting lists of Credit Notes, Reviews, and Value Lists"
Looks like we're missing a couple of Stripe resources and should add them:

https://stripe.com/docs/api/credit_notes/list
https://stripe.com/docs/api/radar/reviews/list
https://stripe.com/docs/api/radar/value_lists/list

[2019-04-29 22:34] buzzguy commented on #33
Oh, my bad.., in my config I had only added `Subscription`, but actually needed to add `Plan`.
thank you

[2019-04-29 22:54] njosefbeck commented on #33
Glad to help! And also glad you enjoyed the Terrace House site :). Anyway, if anything else comes up as you use the plugin, let us know!

[2019-04-29 22:54] #33 closed

[2019-04-30 12:42] njosefbeck commented on #31
@Francesco-Lanciana Checking in, any updates on this from Stripe support?

Also, I'm planning on digging into the code that supports this feature this week, so that I have a better understanding of how it works. As far as I understand it, these are the use cases we're looking to support:

As a plugin user, I want to:
1. Download my Stripe-hosted Sku images.
2. Download my Sku images hosted outside

[2019-04-30 13:17] Francesco-Lanciana commented on #31
Hey sorry for the slow reply! Totally agree with using this thread as the main one, I was starting to get confused with my own posts. Regarding 1 and 2 I don't think SKUs have multiple images, just one that stripe hosts and is on the SKU object under the image key. I agree with the order of importance though.

Also I think you are right about Stripe automatically creating the File Link for SKU ima

[2019-05-01 01:17] njosefbeck commented on #31
I updated the use cases above so that 1 and 2 were clearer. I also added the use case related to downloading Product images.

This evening I spent some good amount of time walking through the code in LocalFile.js, testing the functionality specifically around use case #1 above. I've determined that it's possible to fix the plugin so that it's possible to download Stripe-hosted Sku images. The foll

[2019-05-01 12:14] Francesco-Lanciana commented on #31
Hey so I have addressed everything except for the cache issue. I have:
* Removed the auth option because it was redundant (we know which files need auth and which don't)
* Simplified LocalFile by merging downloadRemoteHostedFiles and downloadStripeHostedFile into one method. This was done because there really wasn't any difference between them now that Stripe hosted files could also be public.
* F

[2019-05-01 22:19] njosefbeck commented on #31
Thanks for this quick turnaround! I'll take a look over the next couple of days and let you know :)

[2019-05-10 17:54] iFlameing opened #37 "[question] how rebuild happens automatically when something changes in product information!"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
  * Read through the README fully
  * Ensured you are running Node v.10 or above
  * Made sure you're using at least Gatsby v.2.0.15
  * Checked that your issue isn't already filed

### Description

I am trying to implement the retrigger the gatsby develop automatically whenever something cha

[2019-05-10 18:06] njosefbeck commented on #37
Hello!

Appreciate the question, though this is most likely something handled outside of our plugin. I can try to help you though. A couple thoughts:

1) Where do you have your Gatsby site hosted? If using Netlify (recommended), see [this article](https://www.netlify.com/docs/webhooks/#incoming-webhooks) for information about setting up incoming build webhooks.
2) If you're editing product and sku

[2019-05-10 18:26] iFlameing commented on #37
@njosefbeck thanks for your help. Yes, my site is hosted with Netlify :)

[2019-05-10 19:21] njosefbeck commented on #37
Okay, so with Netlify this should be rather simple!

1. Go to Netlify and set up a Build Hook, as described in the article I linked above. Once you have your hook's URL...
2. Go to https://dashboard.stripe.com/webhooks and click "Add Endpoint". Paste in the Netlify hook URL, and select all Events to send (search for Product and Sku and add all those).
3. Test by changing a Product or Sku in your S

[2019-05-10 20:54] iFlameing commented on #37
@njosefbeck After reading the documentation and following your step as mention above I am able to set up. thank you very much for your help and time!

[2019-05-10 20:54] njosefbeck commented on #37
My pleasure! Glad you got it working 👍

[2019-05-10 20:54] #37 closed

[2019-05-19 03:27] KyleAMathews opened #38 "Support Node 8"
Could you change your package.json `engines` to support the same versions as Gatsby e.g. 6+? Or at least 8+

Many people don't have Node 10 installed still so this plugin will break for them.

[2019-05-19 03:29] KyleAMathews commented on #38
Many hosting providers also still default to node 8.

[2019-05-22 00:31] njosefbeck commented on #38
Yeah, should be as simple as updating the `engines` and verifying that Babel properly transforms our use of `for-await-of`. Will get to it as soon as we can!

[2019-05-22 01:18] KyleAMathews commented on #38
Thanks!

On Tue, May 21, 2019, 5:31 PM Nathan Beck <notifications@github.com> wrote:

[2019-05-25 21:21] jasonbarry opened #39 "Possible to include `metadata` parameter in object response?"
The [metadata parameter](https://stripe.com/docs/api/metadata) is useful for showing arbitrary information related to certain Stripe objects. According to the docs, Account, Charge, Customer, PaymentIntent, Refund, Subscription, and Transfer support this property, and I know that Plan and Product do as well.

Is it possible for `metadata` to be one of the queryable fields?

[2019-05-25 21:31] njosefbeck commented on #39
@jasonbarry Thanks so much for reaching out! Have you stored `metadata` on one of the above Stripe objects, and have attempted to access that property and not been able to? If not, I can go ahead and add some `metadata` to something and see if it's already accessible. We don't do anything to limit the information returned by Stripe, so I'm assuming the key will be on there, but I haven't tested it

[2019-05-26 00:17] jasonbarry commented on #39
@njosefbeck turns out I didn't restart GraphiQL after adding those metadata properties. Nothing to see here :-) thanks for maintaining a great plugin!

[2019-05-26 00:17] #39 closed

[2019-05-26 14:06] njosefbeck commented on #39
@jasonbarry Sounds good! Your support is much appreciated. Please reach out if you ever run into any issues. ALSO, if you're using our plugin in a project, let us know and we can include it in the README.

[2019-06-07 21:19] njosefbeck commented on #38
This should now be taken care of with our 3.0.0 release. Thanks for the heads up Kyle 👍 .

[2019-06-07 21:19] #38 closed

[2019-06-07 21:19] njosefbeck commented on #34
Added with v3.0.0.

[2019-06-07 21:19] #34 closed

[2019-06-07 21:20] njosefbeck commented on #31
Closing this for now, due to rewriting of this functionality which is now on NPM under v3.0.1.

[2019-06-07 21:20] #31 closed

[2019-06-07 21:20] njosefbeck commented on #29
This has been removed as of v3.0.0.

[2019-06-07 21:20] #29 closed

[2019-06-07 21:21] njosefbeck commented on #27
@Jossdz You shouldn't run into issues now with downloading `Product` and `Sku` images. I'm going to close this for now, but feel free to re-open if you experience any problems.

[2019-06-07 21:21] #27 closed

[2019-06-07 21:22] njosefbeck commented on #26
Though I didn't give the develop section more love, I think it's good enough for now. I did remove the first-person references in the README, which is published with v3.0.0.

[2019-06-07 21:22] #26 closed

[2019-06-27 14:33] nsamala opened #40 "Using gatsby-transformer-json in the same project causes build errors"
### Pre-requisites

  * [x] Read through the README fully
  * [x] Ensured you are running Node v.10 or above
  * [x] Made sure you're using at least Gatsby v.2.0.15
  * [x] Checked that your issue isn't already filed

### Description

When running `gatsby build` on a project that uses both `gatsby-source-stripe` and `gatsby-transformer-json`, the build fails with an error like the following:

[cod

[2019-06-27 15:42] nsamala commented on #40
nvm this doesn't work

[2019-07-08 13:00] njosefbeck commented on #40
Apologies for the delayed response! This `mediaType` gets added [at this line](https://github.com/njosefbeck/gatsby-source-stripe/blob/cff0cacdb7abb8c662bc0ed6ff6d4dee50bcb789/src/StripeObject.js#L39) for anyone that might want to fix this before I can get to it. Otherwise I'll work on having this fixed by the end of this week.

Thanks for bringing this to our attention :+1:!

[2019-07-26 11:55] njosefbeck commented on #40
@nsamala Sorry for the delay with this! New version 3.0.2 should be up on npm, if you wouldn't mind testing.

Once you've confirmed it works on your end, I'll close this issue. Thanks!

[2019-07-28 16:02] brxck opened #42 "sku.product.localFiles is empty unless sku.image is present"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
  * Read through the README fully
  * Ensured you are running Node v.10 or above
  * Made sure you're using at least Gatsby v.2.0.15
  * Checked that your issue isn't already filed

### Description

Hey! I've been having an issue with gatsby-starter-stripe and I'm finally getting around to fi

[2019-08-03 20:08] brxck commented on #42
Looks like [this](https://github.com/njosefbeck/gatsby-source-stripe/blob/910144cac997e7a790d60e310f614a7d6d9d18ee/src/FileDownloadService.js#L28) is where this is occurring. [hasFilesToDownload](https://github.com/njosefbeck/gatsby-source-stripe/blob/master/src/helpers/hasFilesToDownload.js) will return false if a sku doesn't have an image, regardless of it's product.images field.

I'll try to ge

[2019-08-04 12:30] njosefbeck commented on #40
No response from OP, going to close this for now. Please re-open if this is still an issue! Thanks.

[2019-08-04 12:30] #40 closed

[2019-08-12 14:59] #42 closed

[2019-08-12 15:10] njosefbeck commented on #42
As you probably saw, this is up on npm! If you notice any issues, let me know 👍

[2019-11-20 10:52] Petar-np opened #45 "Cannot query field "allStripeSku" on type "Query" even with a valid secret key"
### Prerequisites

* [ x] Put an X between the brackets on this line if you have done all of the following:
  * Read through the README fully
  * Ensured you are running Node v.10 or above
  * Made sure you're using at least Gatsby v.2.0.15
  * Checked that your issue isn't already filed

### Description

I read in [one closed issue](https://github.com/thorsten-stripe/ecommerce-gatsby-tutorial/iss

[2019-11-20 13:29] njosefbeck commented on #45
Hi Petar!
Thanks for reaching out. Hopefully I can help! Two things:
* Have you confirmed that you have `Skus` in your Stripe account already?
* What options are you passing to the plugin in `gatsby-config.js`?

[2019-11-20 13:37] Petar-np commented on #45
@njosefbeck thanks for the quick reply. Yes, the problem was that I didn't have products with SKUs in Stripe :( As soon as I added them everything was fine, so I'm going to close this issue.

What do you think about adding that information to the README.md?

[2019-11-20 13:37] #45 closed

[2019-11-20 13:52] njosefbeck commented on #45
I’m glad that resolved the issue! And yeah, adding this to the README seems like a good idea. If you want to do that and create a PR that’d be great! Otherwise I’ll get to it in a week or so. Thanks again! :)

Sent from my iPhone

[2019-11-20 21:48] Petar-np commented on #45
Thanks @njosefbeck, I just opened a PR request #46 :)

[2020-03-11 18:07] mcneiljv opened #47 "Products with recurring payment not shown on Gatsby shop"
### Prerequisites

* [ X] Put an X between the brackets on this line if you have done all of the following:
  * Read through the README fully
  * Ensured you are running Node v.10 or above
  * Made sure you're using at least Gatsby v.2.0.15
  * Checked that your issue isn't already filed

### Description

I'm trying to use this plugin to set up a Gatsby storefront for my company. However, we want

[2020-03-11 19:01] njosefbeck commented on #47
Hi Jamie!

First, yay for using Gatsby for your company's storefront! That's awesome!  Also, sorry to hear that you're having this issue.

I just did a test and was able to get back both products of type `good` and `service` from Stripe using `gatsby-source-stripe`. For this test I was using the latest version of my plugin ([3.0.6](https://www.npmjs.com/package/gatsby-source-stripe)).

My gatsby c

[2020-03-11 20:18] mcneiljv commented on #47
Ah! See, I'm only getting the allStripeSku and stripeSku options in graphql currently. I will update and post here with my findings! Thanks.

[2020-03-11 20:29] mcneiljv commented on #47
I updated my plugin and that did it! Thanks a ton for your help. Closing this issue.

[2020-03-11 20:29] #47 closed

[2020-03-11 20:30] njosefbeck commented on #47
Yay wonderful! I'm so glad it worked. I'll make a note to update the README to include a "Gotchas" section for things like this.

Also, I'd love to feature your site in the plugin's README once it's live, so be sure to be in touch! Thanks!

[2020-03-11 20:32] njosefbeck opened #48 "Q1 Updates"
Just a list of some small updates want to do:
- Add a "gotchas" section to the README and add example of Subscription products vs skus.
- Use GitHub's new Issues template and remove old one.
- Update usage of getAppInfo to remove deprecation warning.

[2020-03-14 15:03] njosefbeck commented on #48
Deployed to npm!

[2020-03-14 15:03] #48 closed

[2020-03-15 11:27] D0m3- commented on #45
@njosefbeck it would be nice to create the nodes even if there is not sku or no product. So the site can build fine

[2020-03-15 15:01] njosefbeck commented on #45
@D0m3-  Hmm, my first thought is: why should nodes be created if there are no products or skus to create nodes from? If you have no products or skus, then remove them from the `object` array in this plugin's gatsby config. When you do have products / skus, add it back in.

Maybe I'm not considering your use case properly, so more details would probably help!

[2020-03-15 15:21] D0m3- commented on #45
I have made some research and actually it seems like it's more a general Gatsby issue.
The use case is when you don't have any product then this error pops up at build time. It's a valid use case that a site doesn't have any product.
The easiest workaround is to create a dummy product, to make sure the api returns something, but filter it out in your queries.
You can also use `createTypes` like th

[2020-03-16 21:31] njosefbeck commented on #45
Thanks for your response! After thinking about this for a day or so I had a couple of follow up thoughts:
- If you're making an online store, you'll realistically have at least one product in Stripe, and thus when you query for products, you'll get something back.
- If you're just testing out functionality and/or want a dummy product, you can also create one easily in the Stripe dashboard, that co

[2020-04-28 18:14] jodiedoubleday opened #51 "Is there a way of getting back the price of a subscription (product)"
**Prerequisites**

[ X ] Put an X between the brackets on this line if you have done all of the following:
  * Read through the README fully.
  * Ensured you are running Node v.10 or above.
  * Made sure you're using at least Gatsby v.2.0.15.
  * Checked that your issue isn't already filed.

**Describe the bug**
Is there a way of getting back the price of a subscription (Product)

[2020-04-28 18:15] #51 closed

[2020-04-28 18:16] njosefbeck commented on #51
Looks like you were able to make this happen? Feel free to reach out if you have other questions / run into any issues!

[2020-04-28 18:17] jodiedoubleday opened #52 "Is there a ay of getting back the price of a subscription (product)"
I'm looping over SKU's displaying prices etc.
I want to do the same with subscriptions and show the subscription information i.e free trial dates, renewal times etc.
Is there a way to do this, I can't see anything come back in graphql.

[2020-04-28 20:59] njosefbeck commented on #52
@jodiedoubleday Hello! Could you by chance post the config you use for this plugin? (w/o secret tokens in it of course!) Basically want to see what Stripe entities you're trying to get back.

[2020-04-29 08:54] jodiedoubleday commented on #52
I've just added Plan hoping that that will bring back what I need...
[code]

[2020-04-29 23:25] njosefbeck commented on #52
Hi! So your options look right. Are `Subscriptions` not giving you the information you want? In looking at the API docs, what is missing that you'd like to get back? https://stripe.com/docs/api

[2020-05-30 16:37] Alessandro-Commodari opened #53 "Support for the new Prices API"
Hello, today I noticed that stripe is recommending we use their new Prices API for Stripe Checkout. I was wondering if you were aware of this new API and if so, do you have a timeline for when Prices will be added as a supported type?

Here is a link to the stripe docs migration guide:
https://stripe.com/docs/payments/checkout/migrating-prices

Thank you for your time 😄

[2020-05-30 22:27] njosefbeck commented on #52
@jodiedoubleday Just checking in on this, to see if you're still experiencing issues? If I don't hear back in a week or so, I'll close this issue. But feel free to re-open if needed!

[2020-05-31 00:35] njosefbeck commented on #53
Thanks for reaching out and letting me know about this new resource! I've gone ahead and added that as well as the recently added checkout sessions resource. This is live on npm now, so if you update to v3.1.0 you should be able to pull down prices. Let me know if you run into any issues!

[2020-05-31 00:35] #53 closed

[2020-05-31 20:23] robinlarsson commented on #53
Cheers for fixing prices! I been looking for this feature for a while.

Is there any new graphql query to run for prices instead of `allStripeSku`?

I wonder if the documentation should refer to the type of object in singular, 'Price' rather than 'Prices'.

Also, instead of graphql I am trying a more plain approach. Would you have any clue what I am missing? (I'm new to Stripe):
[code]

result: `C

[2020-05-31 20:54] njosefbeck commented on #53
Hello!

So [Stripe.js](https://stripe.com/docs/js), which is the front-end JS library, doesn't have access to the `prices` endpoint. On the other hand, [stripe-node](https://github.com/stripe/stripe-node) does have access to that endpoint.

By using this plugin, you can access the `prices.list()` method on the Stripe object automatically, thus bringing in all your prices into your Gatsby project.

[2020-06-15 23:46] vSterlin opened #56 "Price instead of SKU"
It looks like SKUs are not used with Stripe Checkout anymore, they use Price object instead (there is no way to add SKU in Stripe dashboard). When I query allStripePrice with the plugin, I can retrieve the product's id but not its name, so I need a separate query for Stripe products to retrieve the product's name which is inconvenient. If it would be possible to retrieve product's name from price

[2020-06-15 23:56] njosefbeck commented on #56
Hello!

This will be easy enough to do, as it looks like [`product` is expandable on the Price object](https://stripe.com/docs/api/prices/object). I won't be able to get to this until later in the week, but if you want to follow the [pattern found in `stripeObjects.json`](https://github.com/njosefbeck/gatsby-source-stripe/blob/f22556bdbca290b93ed85dc1642afc9de794944d/src/stripeObjects.json#L419) f

[2020-06-15 23:56] #52 closed

[2020-06-18 02:31] brittneypostma commented on #56
It looks like the Price object has now been added to the stripeObjects.json is there a way to query for that now? The only example is see is still the allStripeSku, which does not work with newer accounts.

[2020-06-18 02:36] njosefbeck commented on #56
@brittneypostma Hello! Having more examples of querying for other types of Stripe objects would be great - happy to accept any PRs updating the README with more examples.

As far as querying for Prices, have you tried adding it to your plugin config like so:

[code]

If the above works, you should be able to open Graphiql and see `allStripePrice`. If you don't, happy to help you debug further!

@v

[2020-06-18 02:38] brittneypostma commented on #56
I have added it to the objects as shown above, but allStripe does not show up in Graphiql.

[2020-06-18 02:42] njosefbeck commented on #56
Oh great! Glad to hear that querying is working! Looking forward to that PR and don't hesitate to reach out if you run into additional issues / have additional questions.

[2020-06-18 02:48] keeko20 opened #58 "Pulling product details"
Hi,

Not entirely sure if this is an issue but I'm not getting the whole product details especially price and it's api_id,  i believed this api_id was sku before.

It's pulling the product name, images etc. but no price and api_id

gatsby config used

   {
      resolve: `gatsby-source-stripe`,
      options: {
        objects: [
          "Balance",
          "BalanceTransaction",
          "Prod

[2020-06-18 03:35] njosefbeck commented on #58
Hello!

So it doesn't look like the `Product` resource object has any `price`-related data, as shown in the Stripe API docs: https://stripe.com/docs/api/products/object.

If you want to get back a list of prices associated with your Stripe account, you can add 'Price' to your objects array in the plugin's config. After this weekend you'll be able to get the full product object automatically off of

[2020-06-18 05:45] keeko20 commented on #58
Cool cool, Thank you!

[2020-06-21 15:36] njosefbeck commented on #56
This is now merged! Feel free to create a new issue if you run into an issue :)

[2020-06-21 15:36] #56 closed

[2020-06-21 15:37] njosefbeck commented on #58
This is now published on npm! Let me know if you run into any issues; closing for now!

[2020-06-21 15:37] #58 closed

[2020-07-06 03:01] vSterlin opened #60 "Get Price in stripeProduct query"
It would be very useful to be able to extract prices while querying allStripeProducts or stripeProduct. It is currently possible to get products from price query, but not other way around.

[2020-07-06 03:09] njosefbeck commented on #60
Yeah, this seems to be a limitation of the Stripe API. At least, I don't see a `price` or `prices` key on the Product object: https://stripe.com/docs/api/products/object.

But, you should get back the fully expanded `Product` object when querying for all prices, so you could do some data massaging to add relevant prices to each product. I don't have a good example of doing this, but in theory it'd

[2020-07-06 22:53] #60 closed

[2020-08-19 17:09] rynoV commented on #45
I would like nodes to be created even if there is no data available in Stripe so that the build completes, and then I can handle the case of lacking data in my code. For my use case we have a shop that will usually only have a few items in it at a time and sometimes there may not be any items. Additionally, the shop is only one part of the website, but as it is right now if the shop doesn't have a

[2020-08-19 18:46] njosefbeck commented on #45
Hello!

If someone in the community wants to attempt to tackle this issue, that works for me. I don't have the bandwidth at the moment. This also still might be a limitation of Gatby's?

Also, as stated above, you can still create a dummy product in Stripe and then filter it out when doing your graphql queries, to avoid any issues around building when you don't have any real products in your shop.

[2020-09-07 16:13] brxck commented on #45
I am also lacking bandwidth but I just came across a potential solution and thought of this issue.

Usually Gatsby infers GraphQL schema from the data. Without data Gatsby cannot add to the schema, and you can't query for something absent from the schema. Thus `Cannot query...`

Types can be created explicitly to work around this, see: [Handle empty results in a Gatsby source plug-in](https://www.

[2020-09-25 08:51] marksteven commented on #6
Hi Josef,
This is possibly a dumb question but new to gatsby and this project and stripe
You mention a new project will throw an error "Cannot query field
you then go on to say remove from graphql allStripeSku
Can you give more information on what you mean specifically and on which page please?
And do you mean create a product in Stripe (website) or locally?
Thanks in advance
Mark

[2020-10-22 20:15] kbravh opened #62 "Images not downloaded for Price objects"
**Prerequisites**

[X] Put an X between the brackets on this line if you have done all of the following:
  * Read through the README fully.
  * Ensured you are running Node v.10 or above.
  * Made sure you're using at least Gatsby v.2.0.15.
  * Checked that your issue isn't already filed.

**Describe the bug**
Images are not downloaded for Price objects even when the `downloadFiles` is set to `tru

[2021-01-01 16:37] njosefbeck commented on #62
This is now live on npm, so closing this issue! Feel free to re-open if you experience any issues.

[2021-01-01 16:37] #62 closed

[2021-02-11 16:44] spikyjt opened #64 "Cannot query product field on price object"
**Prerequisites**

[X] Put an X between the brackets on this line if you have done all of the following:
  * Read through the README fully.
  * Ensured you are running Node v.10 or above.
  * Made sure you're using at least Gatsby v.2.0.15.
  * Checked that your issue isn't already filed.

**Describe the bug**
GrapghQL query for the product field as a property of a price object (`allStripePrice`)

[2021-02-11 17:05] spikyjt commented on #64
Additionally, I've tried this in a static query as well as a page query and neither work.

[2021-02-11 18:54] njosefbeck commented on #64
@spikyjt I noticed that you mentioned that you're able to run the query successfully in the GraphiQL explorer. Is that the case? If so, that makes me think that Gatsby is getting the data just fine from the Stripe API, and there's an issue with how you're querying it in your code. Can you share the results you get when you do the query in the explorer as well as can you share the full query you're

[2021-02-12 09:56] spikyjt commented on #64
@njosefbeck I'm an idiot! The problem was actually in another query on an individual product page, that hadn't been updated to use the stripe objects yet, but queried a resource called product. I got confused because I wasn't viewing that page, but of course it get's rendered at build time, so the query was still being run.

Sorry to waste your time.

[2021-02-12 09:56] #64 closed

[2021-02-12 15:33] njosefbeck commented on #64
No worries! Glad you figured it out!

[2021-03-01 09:17] klintan opened #65 "Support for "tiers" on the Prices API"
Hey,
Thanks for an awesome plugin. I might be missing something; I read the documentation that you try to auto-expand as many objects as possible and also that the new Prices API is quite new.

However when running this query:

[code]
it seems `tiers` are not available, I tried
[code]
and only tiers etc, but seems it's not there. Am i missing something or is there no support yet for that /not expa

[2021-03-01 13:24] njosefbeck commented on #65
Hello!

Ah yeah, at the moment the only expanded field we have for the Price object is `product`.

https://github.com/njosefbeck/gatsby-source-stripe/blob/2c986483b6a347dba52ce53ca7fff87ff0a296bf/src/stripeObjects.json#L426

We can add `data.tiers` to the above `expand` array and that should work. I'm a bit busy at the moment, so feel free to fork this project, add it, and create a PR if you have

[2021-03-02 06:33] klintan commented on #65
Ah awesome. Yes I thought about it like the minute after I posted "should've probably just checked the code', but I was lazy .. :P

Thanks for helping out, I created a PR with that one word change, so thanks for making it this easy to add :)

Let me know in the PR if you want me to do any other additional changes (bump the version?). I tested it out on my project and it worked perfect :).

[2021-03-06 18:26] njosefbeck commented on #65
This is live now! Please test with the new npm version and let me know if you run into any issues. Closing this issue for now! Thanks again for the PR!

[2021-03-06 18:26] #65 closed

[2021-03-25 22:33] brxck opened #67 "Gatsby 3 touchNode deprecation warning"
**Prerequisites**

[X] Put an X between the brackets on this line if you have done all of the following:
  * Read through the README fully.
  * Ensured you are running Node v.10 or above.
  * Made sure you're using at least Gatsby v.2.0.15.
  * Checked that your issue isn't already filed.

**Describe the bug**

Using the latest gatsby-source-stripe with Gatsby 3 triggers a deprecation warning:

[T

[2021-03-25 22:55] njosefbeck commented on #67
@brxck So I'm a little fuzzy on the implementation here, but in this file would I then just pass the `node` into `saveNodeFromGarbageCollection`, or maybe `touchNode` orrr does `cachedFileData` have a reference to the node? I can dig in at some point, but thought I'd ask here first in case you have more insight.

https://github.com/njosefbeck/gatsby-source-stripe/blob/91664587beea5487a718bc932686b

[2021-03-25 23:12] brxck commented on #67
I'm also fuzzy here. My naive impression is that  there are two different nodes within `checkCache()`. `node` is the Stripe resource node, while the node referred to by`cachedFileData.fileNodeId` is the File node that would belong to it.

I don't think we actually have a reference to the File node being touched, so you might have to retrieve it via the `getNode` helper? This code and these Gatsby

[2021-03-25 23:20] njosefbeck commented on #67
Ah yeah maybe it's as simple as passing:

https://github.com/njosefbeck/gatsby-source-stripe/blob/91664587beea5487a718bc932686b207e33742cc/src/helpers/checkCache.js#L9

this node into `saveNodeFromGarbageCollection` and thus into `touchNode`. I'll try that and see how it goes.

[2021-05-23 16:13] ammonialime opened #68 "Using Gatsby Image with Gatsby Source Stripe"
<img width="316" alt="Screen Shot 2021-05-23 at 10 13 28 AM" src="https://user-images.githubusercontent.com/82891247/119268315-99dcfe00-bbaf-11eb-8f1d-66c52d165816.png">
Hi,

Thanks for creating this. It's extremely helpful.

I'm having an issue using the plugin with Gatsby Image.

I've changed downloadFiles to true, but when building the query for products in GraphiQL I'm unable to see a local fi

[2021-05-23 22:25] njosefbeck commented on #68
Hello!

So at the moment the plugin doesn't support getting the optimized image in nested products (like in your example where the Product is nested inside of Price). As a workaround though, you can query for all products, which will include references to the optimized images on the `localFiles` key and then in JavaScript match up the product by id with the price. Not ideal, but that's the best I'

[2021-05-24 02:30] ammonialime commented on #68
Hey @njosefbeck

Thanks for getting back to me on this. Much appreciated.

I'm looking at my options in GraphiQL and I don't see a way to query for products without being nested in AllStripePrice. I've attached an image of my GraphiQL below. I assume I'm missing something... Can you give me an idea as to what the query would look like?

<img width="323" alt="Screen Shot 2021-05-23 at 8 26 06 PM" s

[2021-05-25 00:18] njosefbeck commented on #68
Hello! So if you add `'Product'` to the gatsby-config options for this plugin (so then your array of Stripe objects would be `['Price', 'Product']`, you'll then see `allProduct` when you re-run `npm start`. Let me know if you experience issues with that and I can add a more thorough example!

[2021-05-25 01:33] ammonialime commented on #68
Got it!

Looks like that is going to work.

So basically query both the price for price data and the product data for the images and cross reference them in the component to put it all together?

Appreciate all your help! Will see if I can get it up and running tomorrow.

[2021-05-25 15:32] ammonialime commented on #68
Got this working this morning based on your advice.

Cross referenced the product id from the product object and price object and pulled the local images data that way.

Brought the site to 99/100 on lighthouse from mid 80s. Makes a big difference. Thanks again.

[2021-05-25 15:32] #68 closed

[2021-05-25 15:45] njosefbeck commented on #68
Yay, I'm glad that it worked out for you! Let me know if you run into any other issues and I'll be happy to help debug.

[2021-11-01 16:52] jodiedoubleday opened #69 "[HELP WANTED] - GatsbyV4 [bug] - error while running the sourceNodes lifecycle"
**Prerequisites**

[ X ] Put an X between the brackets on this line if you have done all of the following:
  * Read through the README fully.
  * Ensured you are running Node v.10 or above.
  * Made sure you're using at least Gatsby v.2.0.15.
  * Checked that your issue isn't already filed.

**Describe the bug**
A clear and concise description of what the bug is.
I've updated to GtsabyV4 - When ru

[2021-11-01 17:26] njosefbeck commented on #69
Hello! Yes this is likely due to Gatsby v4 updates. I haven't used Gatsby in a long time, so if you or anyone else would like to contribute to updating this project to work with v4, it would be much appreciated. Otherwise it may take me a little bit to get around to this unfortunately.

[2021-11-02 12:56] jodiedoubleday commented on #69
i;m not the best with gatsby plugins myself but I'll give it a damn good try 😄

[2021-11-10 16:27] KabyleBOT opened #70 "Error "Cannot query field \"product\" on type \"StripePrice\".""
**Prerequisites**

[ ] Put an X between the brackets on this line if you have done all of the following:
  * Read through the README fully.
  * Ensured you are running Node v.10 or above.
  * Made sure you're using at least Gatsby v.2.0.15.
  * Checked that your issue isn't already filed.

**Describe the bug**
When we try to query prices an error occures : {
  "errors": [
    {
      "message": "C

[2021-11-23 22:38] #69 closed

[2021-11-23 23:43] njosefbeck commented on #67
This should be resolved in the latest version, so closing this now. Feel free to reopen if you continue to experience the issue.

[2021-11-23 23:43] #67 closed

[2021-11-23 23:44] njosefbeck commented on #70
Can you see if this is resolved in the latest version, and if it is then close this issue? Thanks!

[2021-11-24 00:14] njosefbeck opened #72 "Upgrade backend implementation to use ES modules"
This would likely also then allow us to upgrade to ESLint 8.

[2022-01-04 21:48] mrmikardo commented on #70
Hey at @KabyleBOT, I'm pretty sure that the issue here is that `product` is a field which needs to be expanded as per the screenshot below i.e. this is Not A Bug;

<img width="1116" alt="Screenshot 2022-01-04 at 21 47 45" src="https://user-images.githubusercontent.com/10819829/148128254-02fc3b06-9156-4b10-827e-822421df40aa.png">

@njosefbeck does this sound correct to you?

[2022-01-04 22:00] njosefbeck commented on #70
Hi @mrmikardo! Thanks so much for following up here. So given the error (i.e. not being able to query the field at all), I do think there was an issue with querying the data in the first place (hence the error), but you're also right in that the GraphQL query should look more like yours, with `product` expanded.

After pushing up the most recent fix (as well as rewriting the GraphQL query to have

[2022-01-04 22:20] mrmikardo opened #73 "Enable GraphQL support for Product images"
Any GraphQL File object  that contains an image has a `childImageSharp` field that you can query and pass to Gatsby image components (using `gatsby-plugin-image`). It would be very cool if it were possible to do the same thing with `gatsby-source-stripe` when retrieving Product images. This would allow seamless interaction between the `gatsby-image-plugin` and `gatsby-stripe-plugin` to display pro

[2022-01-04 22:26] njosefbeck commented on #73
Hello! So as per our README, users [do have the ability to download the files](https://github.com/njosefbeck/gatsby-source-stripe#downloading-files), which then I assume these downloaded files could be passed to other plugins, but I don't have a lot of insight in that area as I wasn't the creator of that download feature within this plugin.

Feel free to give it a whirl and see if it does what you

[2022-01-04 22:28] njosefbeck commented on #73
The person who implemented the downloadFiles feature also created this gatsby-stripe-starter, which might integrate with `gatsby-plugin-stripe` as well / have an example you could look at: https://github.com/brxck/gatsby-starter-stripe. Just thought I'd mention in case it's helpful!

[2022-01-04 22:39] mrmikardo commented on #73
@njosefbeck thanks for the swift reply! 🙇

I've had a play with the `downloadFiles` - this does pretty much exactly what I need! So I reckon this issue can be considered closed.

[2022-01-04 22:39] #73 closed, assigned to nobody

[2022-01-05 00:57] njosefbeck commented on #73
Happy to help, and glad that that worked for you!

[2022-11-09 04:42] airjoshb opened #74 "Product object not showing in the graphQL"
**Prerequisites**

[ x ] Put an X between the brackets on this line if you have done all of the following:
  * Read through the README fully.
  * Ensured you are running Node v.10 or above.
  * Made sure you're using at least Gatsby v.2.0.15.
  * Checked that your issue isn't already filed.

**Describe the bug**
The "Product" object is not showing up. I can add other objects, such as "Price" and "